{% extends "encyclopedia/layout.html" %}
{% block css %}
<style>
    .delete{
            
        padding-left:15px;
        padding-right:15px;
        padding-bottom:2px;
        border-radius:5px;
        background-color:red;
        color: white;
        border:None;
        position:relative;
        top:79px;
    }
    .a{
            
    padding-left:15px;
    padding-right:15px;
    padding-bottom:2px;
    border-radius:5px;
    background-color: #007bff;
    color: white;
    border:None;
    position:relative;
    top:79px;
    }
</style>
{% endblock css %}
{% block title %}
    {{name}}
{% endblock title%}



{% block body %}
    {% if name not in entries %}
        {{html|safe}}
    {% else %}
        {{html|safe}}
        <a href="{{ name }}/edite"class="a"> Edite Page</a>
        <a href="{{name}}/delete" class="delete" >Delete Page</a>
    {% endif %}
{% endblock %}