{% extends "encyclopedia/layout.html" %}
{% load widget_tweaks %}

{% block css %}
    <style>

        .content{
            width:600px;
            height:400px;
            position:relative;
            top:0px;
            right:0px;
            left:10px;
            border-radius:8px;
            border:thin solid rgb(199, 199, 199);
            
        }
        h1{
            position:relative;
            left:0px;
            padding:10px;
        }
        .content:hover{
            box-shadow: 1px 1px 3px 0px rgb(201, 201, 201);
        }
        .content:focus{
            outline:0;
            box-shadow: 1px 1px 3px 0px rgb(201, 201, 201);
        }
        p{
            font-size :20px ;
            
            position:relative;
            left:12px;
            bottom:3px;
            font-weight: bolder;
        }
        .button{
            
            padding-left:15px;
            padding-right:15px;
            padding-bottom:2px;
            border-radius:5px;
            background-color:#007bff;
            color: white;
            border:None;
            position:relative;
            right:95px;
            top:30px;
        }
        
        .button:hover{
            box-shadow: 2px 3px 3px 0px rgb(201, 201, 201);
        }


    </style>
{% endblock %}

{% block title %}
    Edite Page
{% endblock %}

{% block body %}
    <h1>Edit Existed Page</h1>

   <form action="" method="post">
        {% csrf_token %}
        <p>Title : {{ head }}</p>
        <textarea name="textarea" class="content">{{body}}</textarea>
        <button type="submit" class="button" >Save Page</button>
        
   </form>
   <p>{{Error}}</p>

{% endblock %}